OPENAI_API_KEY=
PINECONE_API_KEY=

VECTOR_DIMS=1536

PG_USER=postgres
PG_PASSWORD=""  # use empty string if there is no password
PG_HOST=localhost
PG_PORT=8888
PG_DB_NAME=yara

VERBOSE=false

PHOENIX_COLLECTOR_ENDPOINT=http://localhost:6006
